<!doctype html>
<html>
  <head>
    {% block head %}

		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<script src="/js/jquery.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		
		<script src="/js/my.js" defer></script>
    {% endblock %}
    {% block inline_head %}

    {% endblock %}

  </head>
  <body>
    {% block content %}{% endblock %}
    <div id="footer">
      {% block footer %}
     
      {% endblock %}
    </div>
  </body>
</html>